@use '@/styles/variables' as *;
@use '@/styles/typography' as *;

.search {
  position: relative;
  width: 100%;
  z-index: 100;

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 30px;
    background-color: $color-bg-primary;
    color: $color-content-primary;
    box-shadow: 0px 0px 10px 0px $color-shadows;
    z-index: 100;
  }

  &__icon {
    flex-shrink: 0;
    width: 17px;
    height: 17px;
  }

  &__input {
    padding: 11px 0;
    border: none;
    width: 100%;
    color: inherit;
    background: none;
    outline: transparent;

    @include sub3;
  }

  &__btn {
    padding: 10px 14px;
    border-radius: 20px;
    color: $color-content-secondary;
    background-color: $color-bg-secondary;
    transition: background-color 0.3s ease;

    @include tag1;

    &:hover {
      background-color: rgba($color-bg-secondary, 0.7);
    }
  }
}
