@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.search {
  position: relative;
  width: 100%;
  z-index: 100;

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 30px;
    background-color: $color-bg-primary;
    color: $color-content-primary;
    box-shadow: 0px 0px 10px 0px $color-shadows;
    z-index: 100;
  }

  &__icon {
    flex-shrink: 0;
    width: 17px;
    height: 17px;
  }

  &__input {
    padding: 11px 0;
    border: none;

    width: 100%;
    font-size: 0.875rem;
    color: inherit;
    background: none;
    outline: transparent;

    @include respond-to(xs) {
      font-size: 0.9375rem;
    }
    @include respond-to(sm) {
      font-size: 1.0625rem;
    }
  }

  &__btn {
    padding: 10px 14px;
    border-radius: 20px;
    font-size: 0.6875rem;
    font-weight: 500;
    color: $color-content-secondary;
    background-color: $color-bg-secondary;
    transition: background-color 0.3s ease;

    &:hover, &:hover {
      background-color: rgba($color-bg-secondary, 0.8);
    }

    @include respond-to(xs) {
      font-size: 0.75rem;
    }
    @include respond-to(sm) {
      font-size: 0.875rem;
    }
  }
}
