@use 'mixins' as *;

@mixin title1 {
  font-size: 0.9375rem;
  font-weight: 700;
}

@mixin sub2 {
  font-size: 1rem;
  font-weight: 700;

  @include respond-to(xs) {
    font-size: 1.0625rem;
  }
  @include respond-to(sm) {
    font-size: 1.1875rem;
  }
}

@mixin sub3 {
  font-size: 0.875rem;
  font-weight: 400;

  @include respond-to(xs) {
    font-size: 0.9375rem;
  }
  @include respond-to(sm) {
    font-size: 1.0625rem;
  }
}

@mixin body5 {
  font-size: 0.8125rem;
  font-weight: 400;

  @include respond-to(xs) {
    font-size: 0.875rem;
  }
  @include respond-to(sm) {
    font-size: 1rem;
  }
}

@mixin tag1 {
  font-size: 0.6875rem;
  font-weight: 500;

  @include respond-to(xs) {
    font-size: 0.75rem;
  }
  @include respond-to(sm) {
    font-size: 0.875rem;
  }
}

@mixin tag2 {
  font-size: 0.75rem;
  font-weight: 500;

  @include respond-to(xs) {
    font-size: 0.8125rem;
  }
  @include respond-to(sm) {
    font-size: 0.9375rem;
  }
}

@mixin tag3 {
  font-size: 0.75rem;
  font-weight: 600;
}
