$color-bg-page: #f1f1f1;

$color-bg-primary: #fff;
$color-bg-secondary: #292928;
$color-bg-light: #f1f1f1;


$color-content-primary: #292928;
$color-content-secondary: #fff;
$color-content-light: #b1b1b1;

$color-title: #292928;

$color-bg-bottom-nav: rgba(#fff, 0.3);
$color-border-bottom-nav: #e6e6e6;
$color-stroke-bottom-nav: #85858b;
$color-stroke-active-bottom-nav: #292928;

$color-shadows: rgba(#303030, 0.05);
