@use './variables' as *;
@use './fonts';
@use './breakpoints';
@use './mixins';

html {
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

body {
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  background-color: $color-bg-page;
}

.container {
  max-width: 1440px;
  padding: 0 5px;
  margin: 0 auto;
}

.page-padding {
  padding: 20px 0 150px;
}
