@use '@/styles/variables' as *;
@use '@/styles/typography' as *;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  border-radius: 20px;
  height: 100%;
  background-color: $color-bg-primary;
  color: $color-content-primary;
  box-shadow: 0px 0px 10px 0px $color-shadows;

  &__content {
    width: 100%;
  }

  &__img-wrapper {
    margin: 0;
    margin-bottom: 5px;
    aspect-ratio: 1 / 1;
    border-radius: 18px;
    width: 100%;
  }

  &__img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 5px;
  }

  &__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    margin-bottom: 2px;
    @include sub2;
  }

  &__old-price {
    position: relative;
    color: rgba($color-content-primary, 0.5);

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: rotate(-20deg);
      background-color: rgba($color-content-primary, 0.7);
      width: 100%;
      height: 1px;
    }
  }

  &__title {
    margin: 0;

    @include body5;
  }

  &__link {
    position: relative;
    padding: 9px 50px;
    border: 1px solid $color-bg-light;
    border-radius: 20px;
    background-color: $color-bg-light;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: transparent;

    @include tag2;

    &:focus-visible {
      border-color: $color-bg-secondary;
    }

    &:hover {
      background-color: rgba($color-bg-secondary, 0.5);
      color: $color-content-secondary;
    }

    &:active {
      top: 1px;
    }
  }
}

.marks {
  position: absolute;
  top: 7px;
  left: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  &__item {
    padding: 4px 8px;
    border-radius: 15px;
    color: $color-content-secondary;
    text-transform: uppercase;

    @include tag3;
  }
}
