@use '@/styles/variables' as *;
@use '@/styles/typography' as *;

.card {
  border: 1px solid transparent;
  border-radius: 20px;
  height: 100%;
  box-shadow: 0px 0px 10px 0px $color-shadows;
  background-color: $color-bg-primary;
  color: $color-content-primary;
  transition: border-color 0.4s ease;

  &:has(.card__content:focus-visible) {
    border-color: $color-content-primary;
  }
  &:has(.card__content:hover) {
    border-color: $color-content-primary;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    width: 100%;
    outline: transparent;
  }

  &__img-wrapper {
    border-radius: inherit;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
  }

  &__img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    padding: 6px;
    text-align: center;
    @include tag1;
  }
}
