@use '@/styles/variables' as *;

.nav {
  position: fixed;
  bottom: 6px;
  left: 0;
  right: 0;
  z-index: 150;

  &__content {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    width: 100%;
    padding: 16px 28px;
    border: 1px solid $color-border-bottom-nav;
    background-color: $color-bg-bottom-nav;
  }

  &__link {
    color: $color-stroke-bottom-nav;

    &_active {
      color: $color-stroke-active-bottom-nav;
    }
  }

  &__icon {
    flex-shrink: 1;
    width: 21px;
    height: 21px;
    color: inherit;
  }
}
