@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/typography' as *;


.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-bg-page;
  z-index: 100;
  padding-top: 30px;
  z-index: 95;

  &_loader {
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  &__loader-icon {
    $size: 40px;
    position: absolute;
    top: 30%;
    left: calc(50% - $size / 2);
    @include loader($size, 3px)
  }

  // popular
  &__popular-title {
    margin: 0;
    margin-bottom: 9px;
    color: $color-title;

    @include title1;
  }

  &__popular-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $color-content-primary;

    @include sub3;
  }

  &__popular-icon {
    flex-shrink: 0;
    width: 11px;
    height: 11px;
  }

  &__popular-content {
    padding: 12px 0;
    border-bottom: 1px solid $color-content-light;
    width: 100%;
    text-align: left;
  }

  // result
  .dropdown__result-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    background-color: $color-bg-primary;
    padding: 20px;
    padding-top: 40px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 10px 0px $color-shadows;
  }

  &__result-empty {
    padding: 40px 0 20px;
    color: $color-content-primary;
    width: 100%;
    text-align: center;

    @include sub3;
  }
}

.dropdown-card {
  display: flex;
  align-items: center;
  gap: 20px;

  &__img-wrapper {
    flex-shrink: 0;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;

    @include respond-to(xs) {
      width: 52px;
      height: 52px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    color: $color-content-primary;

    @include body5;
  }

  &__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: $color-content-primary;
    @include sub2;
  }

  &__old-price {
    position: relative;
    color: rgba($color-content-primary, 0.5);

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: rotate(-20deg);
      background-color: rgba($color-content-primary, 0.7);
      width: 100%;
      height: 1px;
    }
  }
}
